<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 
                              https://maven.apache.org/xsd/settings-1.0.0.xsd"> 

  <servers>
    <server>
      <id>IntercabLibs</id>
      <username>Intercab-Libs-Token2021</username>
      <password>6nme54zdtbgl26umvxgzcsiq2tgqtkdj2iqmbxy3ebwpjkqs4pxq</password>
    </server>
  </servers>
</settings>